[Desktop Entry]
Type=Application
Name=PlotJuggler 4
GenericName=Timeseries Visualization
Exec=plotjuggler4
Icon=plotjuggler4
Comment=Visualize timeseries like a pro
Terminal=false
Categories=Development;Science;Utility;
Keywords=plot;timeseries;ros;mcap;telemetry;
